<h1>About Me</h1>


<div class="separator" style="clear: both; text-align: center;">
<a href="http://3.bp.blogspot.com/-gmjcH7rU1Cc/Ug5Vuz1fTBI/AAAAAAAAAFI/iJegs40z6B4/s1600/DSC_0032.JPG" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" height="212" src="http://3.bp.blogspot.com/-gmjcH7rU1Cc/Ug5Vuz1fTBI/AAAAAAAAAFI/iJegs40z6B4/s320/DSC_0032.JPG" width="320" /></a></div>
<br />
<br />
<div style="font-family: Cardo, verdana, tahoma, arial, sans-serif; font-size: 12px; line-height: 19.453125px; margin-bottom: 0.7em; margin-top: 0.7em; padding: 0px;">
<span style="color: purple;"><span style="background-color: white;">Hi!&nbsp;</span><span style="background-color: white;">My name is Zanele Munyikwa and I am a junior at Duke University, studying Computer Science and Information Science and Information Studies.&nbsp; This fall, I am studying at University College London in the department of Computer Science.&nbsp;</span><span style="background-color: white;">This is my blog chronicling my adventures abroad. I've been to a total of five countries, all of which are either in subsaharan Africa, or North America, and never on my own! Suffice to say, I'm not a seasoned traveller in the slightest, so bear with me as I "wander."&nbsp;</span></span></div>
<div style="font-family: verdana, tahoma, arial, sans-serif; font-size: 12px; line-height: 19.453125px; margin-bottom: 0.7em; margin-top: 0.7em; padding: 0px;">
<br /></div>
